#main{
	text-align: center;
	color: #333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #eee;
}

#image{
	max-width: 100%;
	display: block; 
	margin: 0 auto;
    width: 50%;
}

#tribute-info{
	text-align: justify;
	margin-top: 3%;
	margin-left: 20%;
    margin-right: 15%;
}

#img-caption{
	font-size: 26px;
    /* color: powderblue; */
    color: #009955;
}

.link-class{
	display: flex;
	justify-content: center;
	    font-size: 20px;
}

.link{
	margin-left: 9px;
    color: rgb(255,0,0);
}

#title{
    background-color: #689479;
    padding: 11px;
}
h1{
	color: #0c1020;
	 margin: 0px;
}

h3{
	color: #432e2e;
	margin: 3px;
}

.hrline:before {
	content: " ";
    display: block;
    border-bottom: 1px solid #f2d3c5;
}
.hrline:after {
	content: " ";
    display: block;
    border-bottom: 1px solid #f2d3c5;
}

.hrlinebottom:before {
	content: " ";
    display: block;
    border-bottom: 1px solid #380000;
}
.hrlinebottom:after {
	content: " ";
    display: block;
    border-bottom: 1px solid #380000;
}

.link-class{
	margin-top: 2%;
	background-color: #689479;
	padding: 9px;
}

.heading{
	font-size: 25px;
    color: cornflowerblue;
    /* text-align: justify; */
    /* margin-left: 28%; */
    font-weight: bold;
}

.bottom-text1{
	color: #fff;
}

.link{
	color: #e79b80;
}